@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}



  #login {
  width: 100%;
  background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
  background-size: cover;
  }