
 
 
<div id="login">
  <div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
      <div>  
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
         
          <div class="language-selector">
           
            <mat-menu #languageMenu="matMenu">
              <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
                {{language}}
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="login-container" fxLayout="row" fxLayoutAlign="center">
        <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
          <div class="logo" fxLayoutAlign="center center">
            <img src="assets/images/logos/fuse.svg">
        </div>
          <h1 fxLayoutAlign="center">LOGIN TO YOUR ACCOUNT</h1>
          <form (ngSubmit)="login()" [formGroup]="loginForm" name="loginform" novalidate>
            
            <div class="fb-login-button" fxLayoutAlign="center" data-size="large" data-button-type="login_with"
           data-auto-logout-link="false" onlogin="checkLoginState();" data-scope="public_profile" 
           data-use-continue-as="true"></div> 
           
            <br/>         
          </form>
          </mat-card>
      
    </div>
    </div>
    </div>
  